body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    background-image: url(image1.png);
    background-size: cover;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 50px auto;
    background-image: url(image.png);
    background-size: cover;
}

input {
    width: 80%;
    padding: 8px;
    border-radius: 8px;
}

button {
    padding: 8px;
    margin-top: 10px;
    background-color: rgb(34, 214, 242);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: rgb(69, 84, 251);
}

ul {
    list-style: none;
    padding: 0;
    width: 90%;
    margin: 0 auto;
}

li {
    background: #eee;
    padding: 8px;
    margin-top: 8px;
    font-size: 12px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    border-radius: 8px;
    
}

.delete-btn {
    background: #eee;
    border: none;
    padding: 1px;
    cursor: pointer;
    border-radius: 4px;
}

.delete-btn:hover {
    background: darkred;
}
